html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(31, 31, 31, 0.87);
  background-color: #D5E1D5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin:0;
  width: 100%;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-size: 2.4em;
  color: rgba(10, 10, 10, 0.87);
}

h3 {
  margin: 0;
  font-size: 1.8em;
}

p {
  margin: 0;
  font-size: 1.3em;
}

@media only screen and (max-width: 1420px) {
  h1 {
    font-size: 3em;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 2.4em;
    color: rgba(10, 10, 10, 0.87);
  }
  
  h3 {
    font-size: 1.8em;
  }
  
  p {
    font-size: 1.3em;
  }

}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.2em;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 1.5em;
    color: rgba(10, 10, 10, 0.87);
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  p {
    font-size: 1.2em;
  }

}


